[submodule "bibliography"]
	path = bibliography
	url = https://github.com/yegor256/bibliography
[submodule "faces"]
	path = faces
	url = https://github.com/yegor256/faces
[submodule "lecture-notes.sty"]
	path = lecture-notes.sty
	url = https://github.com/yegor256/lecture-notes.sty
